$font_path: '../fonts/';
@font-face{
	font-family: 'OpenSans';
	src: url($font_path + 'OpenSans/OpenSans.eot');
	src: url($font_path + 'OpenSans/OpenSans.eot?iefix') format('eot'),
		 url($font_path + 'OpenSans/OpenSans.woff') format('woff'),
		 url($font_path + 'OpenSans/OpenSans.ttf') format('truetype');
		 font-style: normal;
		 font-weight: 400;
}
