$black: #130f11;
$gold: #efd8a9;
$red: #e9242d;


$OS: 100% 'OpenSans', sans-serif;
$OS-Bold: 100% 'OpenSans-Bold', sans-serif;
$NN: 100% 'Nickainley-Normal', sans-serif;
$OS-Semibold: 100% 'OpenSans-Semibold', sans-serif;

