@import 'fonts';
@import 'vars';
@import 'part';

.wrapper{
  background: #f3f3f3;
  min-height: 100vh;
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  font: $OS;
  font-size: 15px;
}
.container{
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  background: #f3f3f3;
}
p{
  color: red;
  background: #000;
}
@import 'media';
